<div class="wrapper">
  <h5>< Order Summary</h5>

  <div class="container">
    <div class="row">
      <div class="col-8">
        <table class="table">
          <thead>
            <tr>
              <th>items ({{ count }})</th>
              <th>Qty</th>
              <th>price</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of orderData; let index = index">
              <td>
                <div class="row no-gutters">
                  <div class="col-2">
                    {{ data.name }}
                  </div>
                  <div class="col-2">
                    <button
                      (click)="deleteItem(index)"
                      class="btn btn-outline-secondary btn-block"
                    >
                      X
                    </button>
                  </div>
                </div>
              </td>
              <td>
                <div class="row no-gutters">
                  <div class="col-2">
                    <button
                      (click)="removeItem(data.id)"
                      class="btn btn-outline-secondary btn-block"
                    >
                      -
                    </button>
                  </div>
                  <div class="col text-center">{{ data.item }}</div>
                  <div class="col-2">
                    <button
                      (click)="addItem(data.id)"
                      class="btn btn-outline-secondary btn-block"
                    >
                      +
                    </button>
                  </div>
                </div>
              </td>
              <td>${{ data.price }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-4">
        <div class="card" style="width: 18rem">
          <div class="card" style="width: 18rem">
            <div class="card-body">
              <h5 class="card-title">Total</h5>
              <p class="card-text">
                Item({{ count }}) : <span>${{ totalPrice }}</span>
              </p>
              <p class="card-text">
                Discount: <span>-${{ discount }}</span>
              </p>
              <p class="card-text">Type Discount: <span>-$0</span></p>
            </div>
          </div>
          <div class="card-footer">
            <h5>
              Order Total: <span>{{ totalPrice - discount }}</span>
            </h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
